/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align:center;
}

tr{
  cursor: pointer;
}

.container {
  width: auto;
  padding: 0 15px;
}

.card-img-top{
  height:150px;
}

.cardShortDescription{
  height:120px;
  overflow: overlay;

}

.cardName{
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.modal-90w { 
  max-width: 90% !important; 
}