

<head>
  <title>SpaceIntel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="react-target"></div>
</body>
